* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}



/* My code */


li {
  list-style: none;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr max-content 1fr;
  grid-template-columns: 1fr 4fr;
  /* grid-template-rows: ; */
  gap: 4px;

  height: 100vh;
}

.header {
  grid-column: span 2;

  display: grid;
  grid-template-columns: max-content 1fr;

  .logo {
    justify-self: start;
  }

  .menu ul{
    padding-left: 20%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
  }
}

.nav {
  ul {
    display: grid;
    grid-auto-flow: column;
  }
}

.sidebar {
  grid-row: 2 / 4;
  display: grid;
  gap: 50px;
}

.article {
  grid-column: 2 / -1;
  grid-row: 3 / 4;

  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-rows: repeat(auto-fit, minmax(250px, 1fr)); */

  gap: 15px;
  
  .card {
    /* height: max(200px, auto); */
    height: 200px;
  }
}

.footer {
  grid-column: span 2;
}