.first {
    background-color: black;
    color: white;
}

.second {
    background-color: rgba(255, 255, 119, 0.753);
}

.both {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}